<h1>User Profile</h1>

<h3>Points</h3> <span>Your points: <%= @user.points %> PTS</span>

<p>
  * Each successful reservation can earn you party size * 100 points! <br/>
  ** Each reservation cancellation will deduct you party size * 100 points as well...
</p>

<h3><%= link_to "My Restaurants", users_restaurants_path %></h3>

<br>

<h3><%= link_to "My Upcoming Reservations", user_reservations_path(current_user.id) %></h3>

<br>


<br>
<h3>Want to Own a Restaurant?</h3>
<%= form_for @restaurant do |f| %>
<%= f.label :name %> <br>
<%= f.text_field :name %> <br>
<%= f.label :address %> <br>
<%= f.text_field :address %> <br>
<%= f.label :price_range %> <br>
<%= f.text_field :price_range %> <br>
<%= f.label :summary%> <br>
<%= f.text_field :summary, :placeholder => "Say something"%> <br>

<%= f.label :open_hour%> <br>
<%= f.text_field :open_hour %> <br>
<%= f.label :close_hour %> <br>
<%= f.text_field :close_hour%> <br>
<%= f.submit "Go" %> <br>
<% end %>
