<h1>Reservations</h1>


<ol>
<% @reservations.each do |r| %>
   <li>
    <div class="list_reservations">
<<<<<<< HEAD
    Reservation time: <%= r.date.to_s %> <%= r.time %> <br>

    Party_size: <%= r.party_size %> <br>
    Restaurant: <%= r.restaurant.name %> <br>
    Restaurant Address: <%= r.restaurant.address %> <br>
    <br>

    </div>
  </li>
<% end %>
</ol>
