<h1>(<%= @restaurant.name %>) restaurant details</h1>


<div class="show_restaurant">
<h4>Address: </h4><%= @restaurant.address  %> <br>
<h4>Summary: </h4><%= @restaurant.summary %> <br>
<h4>Price_range: </h4>$<%= @restaurant.price_range %> <br>
<h4>Business Hour: </h4><%= @restaurant.open_hour  %> - <%= @restaurant.close_hour %> <br>

</div>
<br>

<% if current_user %>

<%= form_for [@restaurant, @reservation] do |f| %>

  <%= f.label :date %> <br>
  <%= f.datetime_local_field :date %> <br>
  <br>

  <%= f.label :time %> <br>
  <%= f.time_select :time, {ampm: true, :discard_minute => true, start_hour: 11, end_hour: 19} %> <br>
  <br>
  <%= f.label :party_size %> <br>
  <%= f.number_field :party_size %> <br>
  <%= f.submit "Reserve" %>

<% end %>

  <% if user_is_owner %>
    <%= link_to "Edit", edit_restaurant_path(@restaurant)  %> | <%= link_to "Delete", @restaurant, method: :delete, data: {confirm: "Are you sure you want to close this restaurant"} %>
    <h4>Reservations</h4>
      <ol>
        <% @reservations.each do |r| %>
          <li>
           <div class="list_reservations">
             <br>
             User:  <%= r.user_id %> <br>
             Reservation time: <%= r.time %> <br>
             Party_size: <%= r.party_size %> <br>
             Restaurant: <%= r.restaurant.name %> <br>
             Restaurant Address: <%= r.restaurant.address %> <br>
           <br>

           </div>
          </li>
            <br>
            <br>

        <% end %>
      </ol>
  <% else %>

  <% end %>
