<h1>(<%= @restaurant.name %>) restaurant details</h1>


<div class="show_restaurant">
<h4>Address: </h4><%= @restaurant.address  %> <br>
<h4>Summary: </h4><%= @restaurant.summary %> <br>
<h4>Price_range: </h4>$<%= @restaurant.price_range %> <br>
<h4>Business Hour: </h4><%= @restaurant.open_hour  %> - <%= @restaurant.close_hour %> <br>

</div>
