<h1><%=  @category.name %></h1>

<% @category.restaurants.each do |c| %>

<div class="list_restaurants_in_category">
  <p>
    Restaurant Name : <strong><%= link_to "#{c.name}", restaurant_path(c.id) %></strong> <br>
    <%= c.address %> <br>
    <%= c.price_range %> <br>
    <%= c.summary %> <br>
  </p>
</div>
<% end %>
